* {
    margin: 0;
    padding: 0;

    --ffcom: Arial, sans-serif;
    --ffgavel: "Six Caps";
    --ff1: "Poppins";
    --ff2: "League Spartan";
    --ff3: "Damion";
    --ff4: "Offside";
    --ff5: "Iceland";
    --ff6: "Vibur";
    --ff7: "Trade Winds";
    --ff8: "Sriracha";
    --ff9: "Poiret One";
    --ff10: "Itim";
    --ff11: "Delius";
    --ff12: "Damion";
    --ff13: "Allan";
    --ff14: "Dynamo W04 Bold Condensed";
    --ff15: "Merienda";
    --ff16: "Rancho";
    --ff17: "Aladin";
    ;

    --grc1: linear-gradient(45deg, cyan, darkblue, cyan);

    --h1: 200px;
    --h2: 150px;
    --h3: 100px;
    --h4: 50px;
}

body {
    margin: 0;
    font-family: var(--ffcom);
    overflow: hidden;
    background: linear-gradient(45deg, cyan, darkblue, cyan, darkblue, cyan, darkblue, cyan, darkblue, cyan, darkblue, cyan, darkblue, cyan, darkblue, cyan);
    background-size: 100%;
    animation: animatedTextGradient 60s ease-in-out infinite forwards;
}



.logo {
    position: fixed;
    right: 50px;
    top: 50px;
    width: 150px;
    z-index: 1000;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    color: white;
    background-color: #0005;
    backdrop-filter: blur(200px);
}

.slide .bg-slides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}









.gavel {
    position: relative;
    background: url(https://cdn.pixabay.com/photo/2017/01/13/09/23/magic-cube-1976725_1280.jpg) no-repeat center / cover;
}

.gavel .bg-slides {
    background: #000d;
}

.gavel .bg-slides div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gavel h1 {
    font-size: var(--h1);
    font-family: var(--ffgavel);
    letter-spacing: 20px;
    font-weight: 500;
    color: rgb(235, 255, 254);
}

.gavel h3 {
    font-size: 40px;
    text-transform: uppercase;

    background: linear-gradient(45deg, #f06, #4a90e2, #f06);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    color: transparent;
}














.theme {
    background: url(https://cdn.pixabay.com/photo/2022/03/20/10/05/skateboarding-7080382_1280.jpg) no-repeat center / cover;
}

.theme .bg-slides {
    background: #000a;
}

.theme .bg-slides h1 {
    font-size: 200px;
    position: absolute;
    text-transform: uppercase;
    font-family: var(--ff17);
    -webkit-text-stroke: 3px orange;
    font-weight: 600;
    animation: scaleX 5s ease infinite;
    letter-spacing: 20px;
}

.theme .bg-slides h1:nth-child(2) {
    z-index: 1;
    /* clip-path: polygon(0% 53%, 100% 33%, 100% 100%, 0% 100%); */
    
    /* background: linear-gradient(45deg, #2549c4, #f89d82); */
    /* background: linear-gradient(45deg, #265c9f, #173e70, #af1b3d, #da1f3f, #265c9f); */
    background: linear-gradient(45deg, cyan, darkblue, darkviolet, cyan);
    background-size: 400%;
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedTextGradient 10s ease infinite forwards, scale 5s ease infinite;
}

.theme .bg-slides h3 {
    position: relative;
    font-family: var(--ff15);
    font-weight: 500;
    font-size: var(--h4);
    /* -webkit-text-stroke: 2px orange; */
    color: orange;

    animation: scale-h3 3s 1s ease infinite;
}

.theme .bg-slides h3:nth-child(1) {
    bottom: 140px;
    right: 450px;
}

.theme .bg-slides h3:nth-child(4) {
    top: 100px;
    left: 400px;
}

.theme .images img {
    width: 30%;
    position: absolute;
    bottom: -40px;
    left: 300px;
    transform: rotate(-4deg);
    z-index: 100;
}








.intro {}

.intro .bg-slides {
    background: #000a;
    flex-direction: row;
}

.intro .bg-slides .image {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    margin-left: 1300px;
}

.intro .bg-slides .image::before {
    content: '';
    width: 100vw;
    height: 100vh;
    background: #000a;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 100;
}


.intro .bg-slides .image img {
    height: 100vh;
    z-index: 0;
}

.intro .bg-slides .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 80px;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: linear-gradient(45deg, darkviolet, 50%, cyan);
    color: #fff;

    clip-path: polygon(0 0%, 40% 0%, 60% 50%, 40% 100%, 0% 100%);
    z-index: 1000;
    animation: animatedTextGradient 15s ease infinite forwards;
}

.intro .bg-slides .content h1 {
    font-family: var(--ff17);
    font-size: var(--h2);
    font-weight: 500;
    letter-spacing: 0px;
    color: #fffc;
    padding: 10px;
    letter-spacing: 5px;

    background: linear-gradient(45deg, cyan, darkviolet, darkblue, #f06, red, yellow, green, cyan);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 10px transparent;
    animation: animatedTextGradient 15s ease infinite forwards;
}

.intro .bg-slides .content h2 {
    font-family: var(--ff15);
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #fff9;
    padding: 10px;
    line-height: 100px;

    background: linear-gradient(45deg, cyan, darkviolet, #f06, red, yellow, green, cyan);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 10px transparent;
    animation: animatedTextGradient 15s 2s ease infinite forwards;
}











.intro-gramarian,
.intro-timer,
.intro-ah-counter {
    .bg-slides {
        flex-direction: row-reverse;
    }

    .bg-slides .content {
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bg-slides .content .heading {
        position: absolute;
        left: 80px;
        z-index: 50;
    }

    .bg-slides .content .heading h1 {
        font-size: var(--h2);
        color: #fffc;
        font-family: var(--ff17);
        letter-spacing: 5px;
        padding: 30px;
        font-weight: 400;

        background: linear-gradient(45deg, cyan, darkviolet, darkblue, #f06, red, yellow, green, cyan);
        background-size: 400%;
        -webkit-background-clip: text;
        -webkit-text-stroke: 10px transparent;
        animation: animatedTextGradient 15s ease infinite forwards;
    }

    .bg-slides .content .heading h2 {
        font-size: 70px;
        color: #fff3;
        font-family: var(--ff15);
        padding: 30px;
        font-weight: 600;
        line-height: 80px;

        background: linear-gradient(45deg, cyan, #f06, red, yellow, lightgreen, cyan);
        background-size: 400%;
        -webkit-background-clip: text;
        animation: animatedTextGradient 15s ease infinite forwards;
    }

    .bg-slides .content .role {
        margin-top: 50px;
    }


    .bg-slides .content .role h2 {
        font-size: 50px;
        color: transparent;
        font-family: var(--ff17);
        /* font-weight: 500; */
        zoom: 1.5;
        position: relative;
        left: 65px;
        letter-spacing: 5px;

        background: linear-gradient(45deg, cyan, #f06, red, yellow, lightgreen, cyan);
        background-size: 400%;
        -webkit-text-stroke: 2px transparent;
        -webkit-background-clip: text;
        animation: animatedTextGradient 15s 2s ease infinite forwards;
    }

    .bg-slides .content .role h3 {
        font-size: var(--h4);
        font-family: var(--ff16);
        font-weight: bold;
        position: relative;
        left: 100px;
        letter-spacing: 5px;
    }

    .bg-slides .image {
        width: 50vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    .bg-slides .image::after {
        content: '';
        width: 50vw;
        height: 100vh;
        background: #0009;
        position: absolute;
    }

    .bg-slides .image img {
        position: absolute;
        height: 100vh;
        left: -300px;
    }
}



.intro-gramarian .bg-slides .content .gramarian {
    text-align: end;
}

.intro-gramarian .bg-slides .content .gramarian h2 {
    left: -65px !important;
}

.intro-gramarian .bg-slides .content .gramarian h3 {
    left: -100px !important;
}

.intro-gramarian .bg-slides .image img {
    left: -200px;
}

.intro-gramarian .bg-slides > img:nth-child(3) {
    width: 25%;
    height: auto;
    position: absolute;
    right: 400px;
    bottom: 50px;
    z-index: 10;
}

.intro-gramarian .bg-slides > img:nth-child(4) {
    position: absolute;
    width: 25%;
    height: auto;
    top: 0;
    right: 200px;
    z-index: -1;
    transform: rotate(30deg);
}


.word .bg-slides {
    background: #000d;
}

.slide-for-gramarian {
    background: url(https://cdn.pixabay.com/photo/2018/02/28/14/55/human-3188185_1280.jpg) no-repeat center / cover;
    position: relative;
}

.slide-for-gramarian::after {
    content: '';
    background: #0001;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.word .bg-slides .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.word .bg-slides .content h1 {
    font-size: 150px;
    font-family: var(--ff17);
}

.word .bg-slides .content h3 {
    font-size: 80px;
    font-family: var(--ff16);
}

.word .bg-slides .content h4 {
    font-size: 45px;
    width: 80vw;
    font-family: var(--ff15);
}

.word .bg-slides .content .pron,
.word .bg-slides .content .ex {
    text-align: end;
    margin-right: 100px;
    position: relative;
}

.word .bg-slides .content .pron h4,
.word .bg-slides .content .ex h4 {
    position: absolute;
    right: 0;
}

.word .bg-slides .content .wotd,
.word .bg-slides .content .mean {
    text-align: start;
    margin-left: 100px;
}

.word .bg-slides .content .wotd {
    position: fixed;
    top: 60px;
    font-family: var(--ff15);
}

.word .bg-slides .content .wotd h2 {
    color: rgb(210, 255, 255);
    font-size: 100px;
    text-shadow: 0 0 5px cyan, 0 0 20px cyan, 0 0 50px cyan;
    padding-left: 80px;
    margin-top: 20px;
}

.word .bg-slides .content .pron {
    margin-top: 100px;
}

.word .bg-slides .content .mean {
    margin-left: 100px;
}

.word .bg-slides .content .ex,
.word .bg-slides .content .mean {
    margin-top: 50px;
}













.intro-timer .bg-slides .content .timer {
    text-align: end;
}

.intro-timer .bg-slides .content .timer h2 {
    left: -65px !important;
}

.intro-timer .bg-slides .content .timer h3 {
    left: -100px !important;
}

.timing .bg-slides .content h1 {
    font-family: var(--ff1);
}







.timing {
    /* background: url(https://static.vecteezy.com/system/resources/previews/014/457/509/non_2x/new-year-s-countdown-template-free-vector.jpg) no-repeat center / cover; */
    position: relative;
}

.timing::after {
    content: '';
    background: #000d;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.timing .bg-slides .content {
    position: absolute;
    left: 200px;
    top: 50px;
}

.timing .bg-slides .content h1 {
    font-family: var(--ff16);
    letter-spacing: 5px;
    color: #dd8755;
    font-size: 60px;
    margin-top: -10px;
}

.timing .bg-slides .content h3 {
    position: relative;
    left: 100px;
    font-family: var(--ff15);
    color: #ce7ce2;
}

.timing .bg-slides .content .time {
    margin-top: 20px;
}

.timing .bg-slides .content p {
    position: relative;
    left: 200px;
    font-family: var(--ff2);
    font-size: 45px;
    font-weight: 600;
    color: #55ee90;
}

.timing .bg-slides .content .green {
    color: rgb(0, 255, 0);
    position: relative;
    left: 1082px;
    bottom: 42px;
    font-size: 45px;
    font-family: var(--ff2);
    font-weight: 600;
}

.timing .bg-slides .content .yellow {
    color: yellow;
    position: relative;
    left: 1069px;
    bottom: 42px;
    font-size: 45px;
    font-family: var(--ff2);
    font-weight: 600;
}

.timing .bg-slides .content .red {
    color: red;
    position: relative;
    left: 934px;
    bottom: 42px;
    font-size: 45px;
    font-family: var(--ff2);
    font-weight: 600;
}

.timing .bg-slides .content .t-topic .green {
    left: 1071px;
}

.timing .bg-slides .content .t-topic .yellow {
    left: 1136px;
}












.intro-ah-counter .bg-slides .content .ah-counter {
    text-align: end;
}

.intro-ah-counter .bg-slides .content .ah-counter h2 {
    left: -65px !important;
}

.intro-ah-counter .bg-slides .content .ah-counter h3 {
    left: -100px !important;
}

.intro-ah-counter .bg-slides > img {
    width: 20%;
    position: absolute;
}

.intro-ah-counter .bg-slides > img.birthday-girl {
    display: none;
    bottom: 50px;
    right: 500px;
}

.intro-ah-counter .bg-slides > img.cap {
    width: 15%;
    bottom: 250px;
    right: 200px;
}

.intro-ah-counter .bg-slides > img.ribbon {
    top: -50px;
    right: -50px;
}

.intro-ah-counter .bg-slides > img.baloon.one {
    left: 50px;
    top: 50px;
}

.intro-ah-counter .bg-slides > img.baloon.two {
    display: none;
    left: 650px;
    bottom: -50px;
}







.spells {
    background: url(https://cdn.pixabay.com/photo/2015/02/03/16/14/potter-622708_1280.jpg) no-repeat center / cover;
}
.spells::after {
    content: '';
    background: #0009;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.spells .bg-slides .content {
    font-size: 150px;
    font-weight: 700;
    position: absolute;
    left: 100px;
    padding: 100px;
}

.spells .bg-slides .content .s9-head {
    font-family: var(--ff16);
    font-size: 150px;
    letter-spacing: 10px;
    line-height: 180px;
}

.spells .bg-slides .content .word {
    display: flex;
}

.spells .bg-slides .content .words {
    display: flex;
    flex-direction: column;
    font-size: 110px;
    justify-content: start;
    vertical-align: top;
}

.spells .bg-slides .content .words p {
    margin-left: 10px;
    text-align: start;
    font-size: 110px;
    font-family:var(--ff15);
}

.spells .bg-slides .content .words .pillers p {
    margin-left: 30px;
}

.spells .bg-slides .images img {
    width: 30%;
    position: absolute;
}

.spells .bg-slides .images img:first-child {
    top: 300px;
    right: 200px;
}

.spells .bg-slides .images img:nth-child(2) {
    top: 450px;
    right: 200px;
}

.spells .bg-slides .images img:nth-child(3) {
    width: 10%;
    bottom: 150px;
    right: 50px;
    transform: rotate(-40deg);
}

.spells .bg-slides .images img:last-child {
    width: 12%;
    top: 450px;
    right: 800px;
    transform: rotate(10deg);
}








.prepare-speakers .bg-slides,
.tabel-topic .bg-slides,
.round-robin .bg-slides {
    background: #000a;
    flex-direction: row;
}

.prepare-speakers .bg-slides .content .heading,
.tabel-topic .bg-slides .content .heading,
.round-robin .bg-slides .content .heading {
    position: absolute;
    top: 150px;
    left: 150px;
}

.prepare-speakers .bg-slides .content .heading h1,
.tabel-topic .bg-slides .content .heading h1,
.round-robin .bg-slides .content .heading h1 {
    font-size: var(--h2);
    font-family: var(--ff17);
    letter-spacing: 10px;
    font-weight: 500;
    padding: 10px;
    color: #fffc;

    -webkit-text-stroke: 10px transparent;
    background: linear-gradient(45deg, yellow, cyan, fuchsia, yellow);
    background-size: 400%;
    -webkit-background-clip: text;
    animation: animatedTextGradient 15s ease infinite;
}

.prepare-speakers .bg-slides .content .heading h3,
.tabel-topic .bg-slides .content .heading h3,
.round-robin .bg-slides .content .heading h3 {
    font-size: 60px;
    font-family: var(--ff16);
    font-weight: 500;
    padding: 10px;
    position: relative;
    bottom: 60px;
    /* left: 50px; */
    /* color: transparent; */

    /* background: linear-gradient(45deg, yellow, cyan, fuchsia, yellow);
    background-size: 400%;
    -webkit-background-clip: text; */
    animation: textShadowCyan 2s ease infinite;
}

.prepare-speakers .bg-slides .content .heading h3 {
    left: 650px;
}

.tabel-topic,
.round-robin,
.prepare-speakers {
    background: url(https://cdn.pixabay.com/photo/2018/06/17/10/38/artist-3480274_1280.jpg) no-repeat center / cover;
}

.tabel-topic .bg-slides .content .heading h3 {
    left: 100px;
}

.tabel-topic .bg-slides .content .master h2:nth-child(2),
.round-robin .bg-slides .content .master h2:nth-child(2) {
    margin-left: 100px;
}

.round-robin .bg-slides .content .heading h3 {
    left: 100px;
}

.prepare-speakers .bg-slides .content .speakers,
.tabel-topic .bg-slides .content .master,
.round-robin .bg-slides .content .master {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 150px;
    bottom: 300px;
}

.prepare-speakers .bg-slides .content .speakers h2,
.tabel-topic .bg-slides .content .master h2,
.round-robin .bg-slides .content .master h2 {
    font-size: 80px;
    font-family: var(--ff15);
    font-weight: 600;
    position: relative;
    left: 200px;
}

.prepare-speakers .bg-slides .content .speakers h2:nth-child(1) {
    animation: vibrate 2s ease 0s infinite normal none, textShadowRed 1s 0.5s ease infinite, scaleX-only 1s 0.5s infinite forwards;
}

.prepare-speakers .bg-slides .content .speakers h2:nth-child(2) {
    margin-top: 30px;
    left: 300px;

    animation: vibrate 2s ease 1s infinite normal none, textShadowOrange 1s ease infinite, scaleX-only 1s infinite forwards;
}

.prepare-speakers .bg-slides .image {
    height: 100vh;
    width: 50vw;
    overflow: hidden;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;

}






.feedback {}

/* .feedback .bg-slides {
    background: linear-gradient(45deg, cyan, darkblue, cyan, darkblue, cyan, darkblue, cyan,  darkblue, cyan, darkblue, cyan,  darkblue, cyan, darkblue, cyan);
    background-size: 2000%;
    height: 40vh;
    width: 70vw;
    border-radius: 20px;
} */

/* .feedback .bg-slides::before {
    content: '';
    background: #0009;
    height: 40vh;
    width: 70vw;
    padding: 3px;
    z-index: -1;
    position: absolute;
    border-radius: 22.5px;
} */

.feedback .bg-slides::after {
    content: '';
    background: #0009;
    height: 20vh;
    width: 100vw;
    z-index: 1;
}

.feedback .bg-slides h1 {
    font-size: 400px;
    position: absolute;
    transform: scaleY(1.5);
    color: crimson;
    z-index: 2;
}

.feedback .bg-slides h2 {
    font-size: var(--h1);
    position: absolute;
    color: rgb(255, 167, 66);
    color: transparent;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 20px;
    -webkit-text-stroke: 10px transparent;
    z-index: 3;

    background: linear-gradient(45deg, #ff4500, #ff2, #ff4500);
    background-size: 200%;
    animation: animatedTextGradient 5s linear infinite;
    -webkit-background-clip: text;
}

.feedback .bg-slides h3 {
    font-size: var(--h3);
    position: absolute;
    font-family: var(--ff14);
    /* -webkit-text-stroke: 3px cyan; */
    letter-spacing: 10px;
    color: aquamarine;
    font-weight: 500;
    z-index: 4;
}





.thanks-giving {
    background: url(https://static.wixstatic.com/media/3799c6_1a1765308e0f4b85a11d41fc2c53c3df~mv2.jpg/v1/fill/w_1132,h_594,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/3799c6_1a1765308e0f4b85a11d41fc2c53c3df~mv2.jpg) no-repeat center / cover;
}

.thanks-giving .bg-slides {
    background: #0009;
    backdrop-filter: blur(2px);
}

.thanks-giving .bg-slides h1 {
    font-size: 200px;
    font-family: var(--ff17);
    letter-spacing: 5px;
    background: linear-gradient(75deg, orangered, cyan, rgb(255, 0, 234), orangered);
    background-size: 500% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedTextGradient 20s ease infinite;
    animation-delay: 0ms;
}

.thanks-giving .bg-slides h2 {
    font-size: 75px;
    margin-top: -20px;
    font-family: var(--ff16);
}

/* 
canvas{display:block}
.wish h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 5em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}

.wish h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
} */